.header__logo {
    width: 142px;
    height: 33px;
    padding-bottom: 36px;
  }
  
  @media screen and (max-width: 549px) {
    .header__logo {
      padding-left: 27px;
      padding-bottom: 31.6px;
      margin-top: 28px;
      width: 103.74px;
      height: 24.4px;
    }
  }
  
.header__logo:hover {
    opacity: 0.5;
}