.registration__title {
    font-size: 24px;
    line-height: 29px;
    margin: 20px 0 50px;
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
}