.popup__title {
    margin: 0 auto 75px;
    font-size: 18px;
    font-family: 'Inter', Arial, sans-serif;
    line-height: 22px;
    font-style: normal;
    font-weight: 900;
}

@media screen and (min-width: 660px) {
    .popup__title {
        margin: 3px 0 54px;
        font-size: 24px;
        line-height: 29px;
    }
}