.popup__title_tooltip {
    font-style: normal;
    font-weight: 900;
    width: 358px;
    text-align: center;
    color: #000;
    margin: 32px auto 23px;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    line-height: 29px;
  }

  @media screen and (max-width:621px) {
    .popup__title_tooltip {
        font-size: 20px;
        font-weight: 900;
        line-height: 24px;
        width: 244px;
        }
    }
  