.element__title {
    margin: 0;
    color: black;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 1.2;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}